<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Page Title</title>
<style>

body {
  background-color: green;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  max-width: 1000px;
  margin: auto;
  background: gray;
  padding: 10px;
  height:400px
}
form
{

}
#footer {background:#6a93d4;float:left;bottom:0;width: 99%;position: absolute}
</style>
</head>
<body>

<!-- Website Title -->
<div class="container" id="header">
    <h1 class='container-heading'>
		<span class='heading_first'>First Innings Score Predictor for Indian Premier League (IPL)</span>
    </h1>
    <div class='description'>
		<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
	</div>
	<hr>
</div>


<div class='content' id="content">
                <form action="{{ url_for('predict') }}" method="POST" >
                    <!-- Batting Team Dropdown -->
                    <select class="form-input align-center" name="batting-team" style="width: 351px;font-size:16pt">
                        <option value="none">--- Select a Batting team ---</option>
                        <option value="Mumbai Indians">Mumbai Indians</option>
                        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                        <option value="Chennai Super Kings">Chennai Super Kings</option>
                        <option value="Rajasthan Royals">Rajasthan Royals</option>
                        <option value="Kings XI Punjab">Kings XI Punjab</option>
                        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                        <option value="Delhi Daredevils">Delhi Daredevils</option>
                        <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
                    </select><br><br>
                    <!-- Bowling Team Dropdown -->
                    <select class="form-input align-center" name="bowling-team" style="width: 351px;font-size:16pt">
                        <option value="none">--- Select a Bowling team ---</option>
                        <option value="Mumbai Indians">Mumbai Indians</option>
                        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                        <option value="Chennai Super Kings">Chennai Super Kings</option>
                        <option value="Rajasthan Royals">Rajasthan Royals</option>
                        <option value="Kings XI Punjab">Kings XI Punjab</option>
                        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                        <option value="Delhi Daredevils">Delhi Daredevils</option>
                        <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
                    </select><br><br>
                    <input class="form-input" type="text" name="overs" placeholder="Overs (>= 5.0) eg. 7.2"  size="30" style="font-size:15pt;" ><br><br>
                    <input class="form-input" type="text" name="runs" placeholder="Runs eg. 64" size="30" style="font-size:15pt;" ><br><br>
                    <input class="form-input" type="text" name="wickets" placeholder="Wickets eg. 4" size="30" style="font-size:15pt;" ><br><br>
                    <input class="form-input" type="text" name="runs_in_prev_5" placeholder="Runs scored in previous 5 Overs eg. 42" size="30" style="font-size:15pt;" ><br><br>
                    <input class="form-input" type="text" name="wickets_in_prev_5" placeholder="Wickets taken in previous 5 Overs eg. 3" size="30" style="font-size:15pt;" ><br><br>

					<input type="submit" class="myButton" value="Predict Score" size="50" style="background-color:blue;color:white;font-size:15pt;">
				</form>
</div>


<div id="footer">

	<div>
	<span>
		<a href="https://github.com/SridharAppusamy">https://github.com/SridharAppusamy</a>
	</span>
	</div>
		<p class='footer-description'>Made with ❤️ by Sridhar Appusamy</p>
</div>

</body>
</html>